body {
    margin: 0;
    padding: 0;
    background-color: hsla(241, 15%, 35%, 0.15);
    background-image:
        radial-gradient(at 55% 49%, hsla(337, 47%, 43%, 0.25) 0px, transparent 50%),
        radial-gradient(at 1% 98%, hsla(337, 47%, 43%, 0.25) 0px, transparent 50%),
        radial-gradient(at 99% 2%, hsla(337, 47%, 43%, 0.25) 0px, transparent 50%),
        radial-gradient(at 99% 98%, hsla(337, 47%, 43%, 0.25) 0px, transparent 50%),
        radial-gradient(at 1% 1%, hsla(337, 47%, 43%, 0.25) 0px, transparent 50%) !important;
    font-size: 16px !important;
    font-family: "Belleza", sans-serif !important;
}

.breadcrumb-item {
    display: inline-block;
    text-decoration: none;
}

.breadcrumb-divider {
    margin: 0 5px;
}

.table-head .table-row {
    background-color: #A53860;
    color: #F3F3F3;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#navigationBar {
    background-color: #4E4C67 !important;
}

#brand-name {
    font-family: "Oleo Script", system-ui !important;

}

#drawer-brand-name {
    font-family: "Oleo Script", system-ui !important;
}

#drawer-brand-name span {
    color: #A53860;
}



.root {
    flex-grow: 1;
}

.menuButton {
    margin-right: 8px;
}

.title {
    flex-grow: 1;
}

.list {
    width: 250px;

}

.span span {
    color: #A53860;
    text-shadow: 3px 2px #F3F3F3;
}

.welcome-pg-img {
    background-color: #4e4d66;
    background-image:
        radial-gradient(at 99% 98%, hsla(334, 93%, 56%, 0.38) 0px, transparent 50%),
        radial-gradient(at 1% 2%, hsla(334, 93%, 56%, 0.38) 0px, transparent 50%);
}

#welcome-pg span,
#hth span,
#hth .hashlink,
.color,
#difference .color {
    color: #A53860;
}

.btn-links {
    background-color: #4E4C67 !important;
    box-shadow: 5px 5px #9595a3 !important;
}

#hth .family-word {
    color: #A53860;
    font-size: 1.5rem;
}

.why .color {
    color: #A53860;
    font-weight: bold;
}

.why-img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}